USE [master]
GO
/****** Object:  Database [TQMS]    Script Date: 04/01/2026 17:16:39 ******/
CREATE DATABASE [TQMS] ON  PRIMARY 
( NAME = N'TQMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.DBSVR\MSSQL\DATA\TQMS.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TQMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.DBSVR\MSSQL\DATA\TQMS_log.ldf' , SIZE = 9216KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TQMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TQMS]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 04/01/2026 17:16:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON
INSERT [dbo].[UserRoles] ([ID], [UserID], [RoleID]) VALUES (1, 4, 1)
INSERT [dbo].[UserRoles] ([ID], [UserID], [RoleID]) VALUES (2, 5, 6)
INSERT [dbo].[UserRoles] ([ID], [UserID], [RoleID]) VALUES (3, 6, 6)
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
/****** Object:  StoredProcedure [dbo].[usp_UserPagination]    Script Date: 04/01/2026 17:16:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_UserPagination]
    @page        INT,
    @size        INT,
    @search      NVARCHAR(MAX) = '',
    @orderBy     NVARCHAR(MAX) = 'UserID',
    @orderDir    NVARCHAR(MAX) = 'DESC'
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @skip INT = (@size * @page) - @size;
    DECLARE @sql NVARCHAR(MAX);
    DECLARE @whereClause NVARCHAR(MAX) = N'';

    -- SAFE ORDER DIR
    IF UPPER(@orderDir) NOT IN ('ASC','DESC')
        SET @orderDir = 'DESC';

    -- SAFE SEARCH FILTER
    IF LTRIM(RTRIM(@search)) <> ''
    BEGIN
        SET @whereClause = N'
        WHERE 
            LOWER(U.Username) LIKE ''%'' + LOWER(@search) + ''%''
         OR LOWER(U.Email) LIKE ''%'' + LOWER(@search) + ''%''
         OR LOWER(D.DepartmentName) LIKE ''%'' + LOWER(@search) + ''%''
        ';
    END

    SET @sql = N'
    WITH PaginatedUsers AS (
        SELECT 
            U.UserID,
            U.Username,
            U.Email,
            U.IsActive,
            U.CreatedAt,
            U.DepartmentId,
            U.RawPassword,
            R.RoleID,
            R.RoleName,
            D.DepartmentName,
              
            COALESCE(CAST(D.DepartmentId AS NVARCHAR), ''No Department'') AS DeptId,

            (
                SELECT STUFF((
                    SELECT '', '' + S.SiteName
                    FROM Sites S
                    INNER JOIN UserSiteAccess USA ON USA.SiteID = S.SiteID
                    WHERE USA.UserID = U.UserID
                    FOR XML PATH(''''), TYPE
                ).value(''.'', ''NVARCHAR(MAX)''),1,2,'''')
            ) AS SiteNames,

            (
                SELECT STUFF((
                    SELECT '', '' + CAST(S.SiteID AS VARCHAR(10))
                    FROM Sites S
                    INNER JOIN UserSiteAccess USA ON USA.SiteID = S.SiteID
                    WHERE USA.UserID = U.UserID
                    FOR XML PATH(''''), TYPE
                ).value(''.'', ''NVARCHAR(MAX)''),1,2,'''')
            ) AS SiteIDs,

            ROW_NUMBER() OVER (
                ORDER BY U.' + QUOTENAME(@orderBy) + ' ' + @orderDir + '
            ) AS RowNum

        FROM dbo.Users U
        INNER JOIN UserRoles UR ON U.UserID = UR.UserID
        INNER JOIN Roles R ON UR.RoleID = R.RoleID
        left JOIN Departments D ON U.DepartmentId = D.DepartmentId
        ' + @whereClause + '
    )

    SELECT *
    FROM PaginatedUsers
    WHERE RowNum BETWEEN ' + CAST(@skip + 1 AS NVARCHAR(20)) + ' 
                     AND ' + CAST(@skip + @size AS NVARCHAR(20)) + ';

    SELECT 
        (
            SELECT COUNT(*)
            FROM dbo.Users U
            INNER JOIN UserRoles UR ON U.UserID = UR.UserID
            INNER JOIN Roles R ON UR.RoleID = R.RoleID
            INNER JOIN Departments D ON U.DepartmentId = D.DepartmentId
            ' + @whereClause + '
        ) AS Filtered,

        (SELECT COUNT(*) FROM dbo.Users) AS Total;
    ';

    EXEC sp_executesql @sql, N'@search NVARCHAR(MAX)', @search;
END

--EXEC [usp_UserPagination] @page = 1, @size = 5
--EXEC [usp_UserPagination] @page = 1, @size = 1, @search = 'a'
--EXEC [usp_UserPagination] @page = 1, @size = 5, @search = 'a', @orderBy = 'username', @orderDir = 'ASC'
--EXEC [usp_UserPagination] @page = 1, @size = 5, @search = '', @orderBy = 'username', @orderDir = 'ASC'
GO
/****** Object:  Table [dbo].[Colors]    Script Date: 04/01/2026 17:16:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Colors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Colors] ON
INSERT [dbo].[Colors] ([Id], [Name], [IsActive]) VALUES (1, N'Water White', 1)
INSERT [dbo].[Colors] ([Id], [Name], [IsActive]) VALUES (2, N'White', 1)
INSERT [dbo].[Colors] ([Id], [Name], [IsActive]) VALUES (3, N'White to Creamy', 1)
SET IDENTITY_INSERT [dbo].[Colors] OFF
/****** Object:  Table [dbo].[Certifications]    Script Date: 04/01/2026 17:16:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Certifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[CertificationName] [varchar](100) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Certifications] ON
INSERT [dbo].[Certifications] ([Id], [ProductId], [CertificationName], [IsActive]) VALUES (6, 1, N'ISO 9001:2015', 1)
INSERT [dbo].[Certifications] ([Id], [ProductId], [CertificationName], [IsActive]) VALUES (7, 1, N'EU & NOP Organic', 1)
INSERT [dbo].[Certifications] ([Id], [ProductId], [CertificationName], [IsActive]) VALUES (8, 1, N'BRC & HACCP', 1)
SET IDENTITY_INSERT [dbo].[Certifications] OFF
/****** Object:  Table [dbo].[Categories]    Script Date: 04/01/2026 17:16:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](150) NULL,
	[IsActve] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON
INSERT [dbo].[Categories] ([Id], [Name], [IsActve]) VALUES (1, N'Reduced Sugar Rice Syrup', 1)
INSERT [dbo].[Categories] ([Id], [Name], [IsActve]) VALUES (2, N'Organic Tapioca Syrup', 1)
SET IDENTITY_INSERT [dbo].[Categories] OFF
/****** Object:  Table [dbo].[AnalysisCategories]    Script Date: 04/01/2026 17:16:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AnalysisCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](100) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[AnalysisCategories] ON
INSERT [dbo].[AnalysisCategories] ([Id], [CategoryName], [IsActive]) VALUES (1, N'Chemical Parameters', 1)
INSERT [dbo].[AnalysisCategories] ([Id], [CategoryName], [IsActive]) VALUES (2, N'Heavy Metals', 1)
INSERT [dbo].[AnalysisCategories] ([Id], [CategoryName], [IsActive]) VALUES (3, N'Microbiological Parameters', 1)
SET IDENTITY_INSERT [dbo].[AnalysisCategories] OFF
/****** Object:  Table [dbo].[Permissions]    Script Date: 04/01/2026 17:16:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Permissions] ON
INSERT [dbo].[Permissions] ([Id], [Code]) VALUES (1, N'CREATE')
INSERT [dbo].[Permissions] ([Id], [Code]) VALUES (2, N'EDIT')
INSERT [dbo].[Permissions] ([Id], [Code]) VALUES (3, N'DELETE')
SET IDENTITY_INSERT [dbo].[Permissions] OFF
/****** Object:  Table [dbo].[Packaging]    Script Date: 04/01/2026 17:16:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Packaging](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[Material] [varchar](100) NULL,
	[NetWeight] [varchar](50) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Packaging] ON
INSERT [dbo].[Packaging] ([Id], [ProductId], [Material], [NetWeight], [IsActive]) VALUES (5, 1, N'Jerry Cans', N'25-30', 1)
INSERT [dbo].[Packaging] ([Id], [ProductId], [Material], [NetWeight], [IsActive]) VALUES (6, 1, N'Drums', N'300', 1)
INSERT [dbo].[Packaging] ([Id], [ProductId], [Material], [NetWeight], [IsActive]) VALUES (7, 1, N'Totes', N'1364', 1)
SET IDENTITY_INSERT [dbo].[Packaging] OFF
/****** Object:  Table [dbo].[MenuItems]    Script Date: 04/01/2026 17:16:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[Url] [nvarchar](100) NULL,
	[ParentId] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Icon] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MenuItems] ON
INSERT [dbo].[MenuItems] ([Id], [Title], [Url], [ParentId], [IsActive], [CreatedDate], [Icon]) VALUES (1, N'Dashboard', N'/', NULL, 1, CAST(0x0000B40300D1BA10 AS DateTime), N'GridIcon')
INSERT [dbo].[MenuItems] ([Id], [Title], [Url], [ParentId], [IsActive], [CreatedDate], [Icon]) VALUES (2, N'User Management', N'#', NULL, 1, CAST(0x0000B40300D1BA10 AS DateTime), N'UserCircleIcon')
INSERT [dbo].[MenuItems] ([Id], [Title], [Url], [ParentId], [IsActive], [CreatedDate], [Icon]) VALUES (3, N'Profile', N'/profile', NULL, 1, CAST(0x0000B40300D1BA10 AS DateTime), N'UserCircleIcon')
SET IDENTITY_INSERT [dbo].[MenuItems] OFF
/****** Object:  UserDefinedFunction [dbo].[fun_splitstring]    Script Date: 04/01/2026 17:16:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[fun_splitstring] ( @stringToSplit VARCHAR(8000) )
    RETURNS
        @returnList TABLE ([Param] [nvarchar] (500))
AS
 
BEGIN
 
    DECLARE @name NVARCHAR(255)
    DECLARE @pos INT
 
    WHILE CHARINDEX(',', @stringToSplit) > 0
    BEGIN
        SELECT @pos  = CHARINDEX(',', @stringToSplit) 
        SELECT @name = SUBSTRING(@stringToSplit, 1, @pos-1)
 
        INSERT INTO @returnList
        SELECT @name
 
        SELECT @stringToSplit = SUBSTRING(@stringToSplit, @pos+1, LEN(@stringToSplit)-@pos)
    END
 
    INSERT INTO @returnList
    SELECT @stringToSplit
 
    RETURN
END


--SELECT [Param] FROM dbo.splitstring('a,b,c')
GO
/****** Object:  Table [dbo].[Forms]    Script Date: 04/01/2026 17:16:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Forms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Forms] ON
INSERT [dbo].[Forms] ([Id], [Name], [IsActive]) VALUES (1, N'Liquid', 1)
INSERT [dbo].[Forms] ([Id], [Name], [IsActive]) VALUES (2, N'Dehydrated', 1)
SET IDENTITY_INSERT [dbo].[Forms] OFF
/****** Object:  Table [dbo].[Departments]    Script Date: 04/01/2026 17:16:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Departments] ON
INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName], [IsActive], [CreatedAt]) VALUES (1, N'QA', 1, CAST(0x0000B41F00D3BFC3 AS DateTime))
INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName], [IsActive], [CreatedAt]) VALUES (2, N'QC', 1, CAST(0x0000B41F00D3BFC3 AS DateTime))
INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName], [IsActive], [CreatedAt]) VALUES (3, N'Production', 1, CAST(0x0000B41F00D3BFC3 AS DateTime))
SET IDENTITY_INSERT [dbo].[Departments] OFF
/****** Object:  StoredProcedure [dbo].[sp_ProductsPagination]    Script Date: 04/01/2026 17:16:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ProductsPagination]
    @page        INT,
    @size        INT,
    @search      NVARCHAR(MAX) = '',
    @orderBy     NVARCHAR(MAX) = 'Id',
    @orderDir    NVARCHAR(MAX) = 'DESC'
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @skip INT = (@size * @page) - @size;
    DECLARE @sql NVARCHAR(MAX);
    DECLARE @whereClause NVARCHAR(MAX) = '';
    
    
    -- Build WHERE clause if search is provided
    IF LTRIM(RTRIM(@search)) <> ''
    BEGIN
        SET @whereClause = N'WHERE LOWER(ProductName) LIKE ''%'' + LOWER(@search) + ''%''
                           OR LOWER(ProductCode) LIKE ''%'' + LOWER(@search) + ''%''  
                            OR LOWER(Categories.Name) LIKE ''%'' + LOWER(@search) + ''%'' 
                           
                              ';
    END
    
    -- Build complete query using ROW_NUMBER
    SET @sql = N'
    WITH PaginatedProduts AS (
        SELECT 
            U.*,Categories.Name as CategoryName ,


            ROW_NUMBER() OVER 
            (ORDER BY U.' + QUOTENAME(@orderBy) + ' ' + @orderDir + ') AS RowNum

        FROM dbo.Products U   inner join Categories on  Categories.Id=U.CategoryID 
        
       
        ' + @whereClause + '
    )

    SELECT * 
    FROM PaginatedProduts
    WHERE RowNum BETWEEN ' + CAST(@skip + 1 AS NVARCHAR(20)) + ' 
    AND ' + CAST(@skip + @size AS NVARCHAR(20)) + ';

    SELECT 
        (SELECT COUNT(*) FROM dbo.Products U ' + @whereClause + ') AS Filtered,
        (SELECT COUNT(*) FROM dbo.Products) AS Total;';
    -- Execute the query
    EXEC sp_executesql @sql, N'@search NVARCHAR(MAX)', @search;
END


--EXEC [sp_ProductsPagination] @page = 1, @size = 5
--EXEC [sp_ProductsPagination] @page = 1, @size = 1, @search = 'a'
--EXEC [sp_ProductsPagination] @page = 1, @size = 5, @search = 'a', @orderBy = 'ProductName', @orderDir = 'ASC'
--EXEC [sp_ProductsPagination] @page = 1, @size = 5, @search = '', @orderBy = 'ProductName', @orderDir = 'ASC'
GO
/****** Object:  Table [dbo].[Sites]    Script Date: 04/01/2026 17:16:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sites](
	[SiteID] [int] IDENTITY(1,1) NOT NULL,
	[SiteName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SiteID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Sites] ON
INSERT [dbo].[Sites] ([SiteID], [SiteName], [Description], [IsActive], [CreatedDate]) VALUES (1, N'RGD', N'Rice Glucose Division (RGD)', 1, CAST(0x0000B40300D13AFE AS DateTime))
INSERT [dbo].[Sites] ([SiteID], [SiteName], [Description], [IsActive], [CreatedDate]) VALUES (2, N'MRP', N'Matco Foods Ltd.', 0, CAST(0x0000B40300D13AFE AS DateTime))
INSERT [dbo].[Sites] ([SiteID], [SiteName], [Description], [IsActive], [CreatedDate]) VALUES (3, N'MCS', N'Matco Corn Starch', 0, CAST(0x0000B40300D13AFE AS DateTime))
SET IDENTITY_INSERT [dbo].[Sites] OFF
/****** Object:  Table [dbo].[Roles]    Script Date: 04/01/2026 17:16:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Roles] ON
INSERT [dbo].[Roles] ([RoleID], [RoleName], [IsActive], [CreatedDate]) VALUES (1, N'Admin', 1, CAST(0x0000B40300D1A066 AS DateTime))
INSERT [dbo].[Roles] ([RoleID], [RoleName], [IsActive], [CreatedDate]) VALUES (2, N'User', 1, CAST(0x0000B40300D1A066 AS DateTime))
INSERT [dbo].[Roles] ([RoleID], [RoleName], [IsActive], [CreatedDate]) VALUES (3, N'Manager', 1, CAST(0x0000B40300D1A066 AS DateTime))
SET IDENTITY_INSERT [dbo].[Roles] OFF
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 04/01/2026 17:16:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[RoleId] [int] NULL,
	[PermissionId] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[RolePermissions] ([RoleId], [PermissionId]) VALUES (1, 1)
INSERT [dbo].[RolePermissions] ([RoleId], [PermissionId]) VALUES (1, 2)
INSERT [dbo].[RolePermissions] ([RoleId], [PermissionId]) VALUES (1, 3)
/****** Object:  Table [dbo].[RoleMenus]    Script Date: 04/01/2026 17:16:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleMenus](
	[RoleId] [int] NOT NULL,
	[MenuId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[MenuId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[RoleMenus] ([RoleId], [MenuId]) VALUES (1, 1)
INSERT [dbo].[RoleMenus] ([RoleId], [MenuId]) VALUES (1, 2)
INSERT [dbo].[RoleMenus] ([RoleId], [MenuId]) VALUES (1, 3)
/****** Object:  Table [dbo].[Products]    Script Date: 04/01/2026 17:16:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](200) NULL,
	[ProductCode] [nvarchar](50) NULL,
	[CategoryID] [int] NULL,
	[FormID] [int] NULL,
	[ColorID] [int] NULL,
	[CountryOfOrigin] [nvarchar](100) NULL,
	[Ingredients] [nvarchar](max) NULL,
	[IngredientsDeclaration] [nvarchar](max) NULL,
	[SuitableFor] [nvarchar](200) NULL,
	[Additives] [nvarchar](200) NULL,
	[Functionalities] [nvarchar](200) NULL,
	[Description] [nvarchar](max) NULL,
	[ShelfLife] [nvarchar](200) NULL,
	[StorageConditions] [nvarchar](max) NULL,
	[Uses] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Products] ON
SET IDENTITY_INSERT [dbo].[Products] OFF
/****** Object:  Table [dbo].[ProductAnalysis]    Script Date: 04/01/2026 17:16:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductAnalysis](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[CategoryId] [int] NULL,
	[ParameterName] [varchar](150) NULL,
	[Unit] [varchar](50) NULL,
	[Limits] [varchar](50) NULL,
	[Status] [varchar](20) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ProductAnalysis] ON
INSERT [dbo].[ProductAnalysis] ([Id], [ProductId], [CategoryId], [ParameterName], [Unit], [Limits], [Status], [IsActive]) VALUES (32, 1, 1, N'Glucose (DP1)', N'%', N'9.5-16', NULL, 1)
INSERT [dbo].[ProductAnalysis] ([Id], [ProductId], [CategoryId], [ParameterName], [Unit], [Limits], [Status], [IsActive]) VALUES (33, 1, 1, N'Maltose (DP2)', N'%', N'12.5-24', NULL, 1)
INSERT [dbo].[ProductAnalysis] ([Id], [ProductId], [CategoryId], [ParameterName], [Unit], [Limits], [Status], [IsActive]) VALUES (34, 1, 1, N'Other Carbohydrates', N'%', N'65-75', NULL, 1)
SET IDENTITY_INSERT [dbo].[ProductAnalysis] OFF
/****** Object:  StoredProcedure [dbo].[sp_GetProductDetailByID]    Script Date: 04/01/2026 17:16:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_GetProductDetailByID]
(@Id int)
as
SELECT Products.[Id]
      ,[ProductName]
      ,[ProductCode]
      ,[CategoryID]
      ,[FormID]
      ,[ColorID]
      ,Forms.Name as FormName
       ,Colors.Name as ColorName
        ,Categories.Name as CategoryName
      ,[CountryOfOrigin]
      ,[Ingredients]
      ,[IngredientsDeclaration]
      ,[SuitableFor]
      ,[Additives]
      ,[Functionalities]
      ,[Description]
      ,[ShelfLife]
      ,[StorageConditions]
      ,[Uses]
      ,[CreatedAt]
      ,Products.[IsActive] as IsActive
  FROM Products inner join Forms on  Forms.Id=Products.FormID
  inner join Colors on  Colors.Id=Products.ColorID
  inner join Categories on  Categories.Id=Products.CategoryID 
  where  Products.[Id]=@Id
  
  
 -- exec sp_GetProductDetailByID 1
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPermissions]    Script Date: 04/01/2026 17:16:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[sp_GetPermissions]
    @RoleId INT
AS

SELECT [RolePermissions].PermissionId
 FROM  [RolePermissions] inner join  [Permissions] on
 [RolePermissions].PermissionId=[Permissions].Id
  WHERE RoleId = @RoleId
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMenusByRole]    Script Date: 04/01/2026 17:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetMenusByRole]
    @RoleID NVARCHAR(50)
AS
BEGIN
    -- MENUS
    SELECT 
        M.Id,
        M.Title,
        M.Url,
        M.ParentId,
        M.Icon
    FROM MenuItems M
    JOIN RoleMenus RM ON M.Id = RM.MenuId
    WHERE RM.RoleId = @RoleId
      AND M.IsActive = 1;

    ---- PERMISSIONS
    --SELECT RP.PermissionId
    --FROM Permissions P
    --JOIN RolePermissions RP ON P.Id = RP.PermissionId
    --WHERE RP.RoleId = @RoleId;
      
END


-- exec [sp_GetMenusByRole] 1
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllSites]    Script Date: 04/01/2026 17:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllSites]
AS
BEGIN
	SELECT [SiteID] as Id,
          [SiteName]
         ,[Description]
  FROM [Sites]  where IsActive=1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllRoles]    Script Date: 04/01/2026 17:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllRoles]
AS
BEGIN
	select [RoleID] as Id
         ,[RoleName]
  FROM [Roles]  where IsActive=1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllowedUrls]    Script Date: 04/01/2026 17:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllowedUrls]
    @RoleId INT
AS
BEGIN
    SELECT Url
    FROM [MenuItems] inner  join RoleMenus on  RoleMenus.MenuId=[MenuItems].Id
    WHERE RoleId = @RoleId
      AND IsActive = 1
      AND Url <> '#';
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllForms]    Script Date: 04/01/2026 17:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[sp_GetAllForms]
AS
BEGIN
	select [Id],[Name]
      
  FROM [Forms]
  
  
  where IsActive=1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllDepartment]    Script Date: 04/01/2026 17:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[sp_GetAllDepartment]
AS
BEGIN
	SELECT [DepartmentId]as Id, [DepartmentName] FROM Departments  where IsActive=1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllColors]    Script Date: 04/01/2026 17:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[sp_GetAllColors]
AS
BEGIN
	select [Id],[Name]
      
  FROM [Colors]
  
  where IsActive=1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllCategories]    Script Date: 04/01/2026 17:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllCategories]
AS
BEGIN
	select Id,Name
      
  FROM [Categories]
  
  where [IsActve]=1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAll_AnalysisCategories]    Script Date: 04/01/2026 17:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_GetAll_AnalysisCategories]
as
begin
SELECT  [Id]
      ,[CategoryName]
      ,[IsActive]
  FROM [TQMS].[dbo].[AnalysisCategories]
  where IsActive=1
  end
GO
/****** Object:  StoredProcedure [dbo].[sp_Certifications_Update]    Script Date: 04/01/2026 17:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Certifications_Update]
    @Id INT,
    @ProductId INT,
    @CertificationName NVARCHAR(200),
    @IsActive BIT
AS
BEGIN
    UPDATE Certifications
    SET 
        ProductId = @ProductId,
        CertificationName = @CertificationName,
        IsActive = @IsActive
    WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Certifications_Insert]    Script Date: 04/01/2026 17:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Certifications_Insert]
    @ProductId INT,
    @CertificationName NVARCHAR(200),
    @IsActive BIT
AS
BEGIN
    INSERT INTO Certifications (ProductId, CertificationName, IsActive)
    VALUES (@ProductId, @CertificationName, @IsActive)

    SELECT SCOPE_IDENTITY() AS Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Certifications_GetAllByProductId]    Script Date: 04/01/2026 17:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Certifications_GetAllByProductId]
(@ProductId int)
AS
BEGIN
    SELECT Certifications.Id, ProductId, CertificationName, Certifications.IsActive ,Products.ProductName
    FROM Certifications inner join  Products
    on Products.Id=Certifications.ProductId 
    
    where ProductId=@ProductId
END


--exec  [sp_Certifications_GetAllByProductId] 1
GO
/****** Object:  StoredProcedure [dbo].[sp_Certifications_Delete]    Script Date: 04/01/2026 17:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Certifications_Delete]
    @Id INT
AS
BEGIN
    DELETE FROM Certifications WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Packaging_Update]    Script Date: 04/01/2026 17:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Packaging_Update]
    @Id INT,
    @ProductId INT,
    @Material NVARCHAR(200),
    @NetWeight NVARCHAR(200),
    @IsActive BIT
AS
BEGIN
    UPDATE Packaging
    SET 
        ProductId = @ProductId,
        Material = @Material,
        NetWeight=@NetWeight,
        IsActive = @IsActive
    WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Packaging_Insert]    Script Date: 04/01/2026 17:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Packaging_Insert]
    @ProductId INT,
    @Material NVARCHAR(200),
     @NetWeight  NVARCHAR(200),
    @IsActive BIT
AS
BEGIN
    INSERT INTO Packaging (ProductId, Material,NetWeight, IsActive)
    VALUES (@ProductId, @Material,@NetWeight, @IsActive)

    SELECT SCOPE_IDENTITY() AS Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Packaging_GetAllByProductId]    Script Date: 04/01/2026 17:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[sp_Packaging_GetAllByProductId]
(@ProductId int)
AS
BEGIN
    SELECT Packaging.Id, ProductId, Material,NetWeight, Packaging.IsActive ,Products.ProductName
    FROM Packaging inner join  Products
    on Products.Id=Packaging.ProductId 
    
    where ProductId=@ProductId
END


--exec  [sp_Packaging_GetAllByProductId] 1
GO
/****** Object:  StoredProcedure [dbo].[sp_Packaging_Delete]    Script Date: 04/01/2026 17:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Packaging_Delete]
    @Id INT
AS
BEGIN
    DELETE FROM Packaging WHERE Id = @Id
END
GO
/****** Object:  Table [dbo].[UserSiteAccess]    Script Date: 04/01/2026 17:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSiteAccess](
	[AccessID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[SiteID] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[GrantedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AccessID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UQ_UserSite] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[SiteID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserSiteAccess] ON
INSERT [dbo].[UserSiteAccess] ([AccessID], [UserID], [SiteID], [IsActive], [GrantedDate]) VALUES (6, 4, 1, 1, CAST(0x0000B40400B6F962 AS DateTime))
INSERT [dbo].[UserSiteAccess] ([AccessID], [UserID], [SiteID], [IsActive], [GrantedDate]) VALUES (7, 4, 2, 1, CAST(0x0000B40400B6F962 AS DateTime))
INSERT [dbo].[UserSiteAccess] ([AccessID], [UserID], [SiteID], [IsActive], [GrantedDate]) VALUES (8, 4, 3, 1, CAST(0x0000B40400B6F962 AS DateTime))
SET IDENTITY_INSERT [dbo].[UserSiteAccess] OFF
/****** Object:  Table [dbo].[Users]    Script Date: 04/01/2026 17:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[RawPassword] [nvarchar](50) NULL,
	[DepartmentId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON
INSERT [dbo].[Users] ([UserID], [Username], [Email], [PasswordHash], [IsActive], [CreatedAt], [RawPassword], [DepartmentId]) VALUES (4, N'Muhammad Ali Hussain', N'muhammad.ali@matcofoods.com.pk', N'$2b$10$w5BHpD7T7LSvbLrj26ShBO6kqN0nkoD54SOKWARSuXWTkT0Z9SE0W', 1, CAST(0x0000B40400B6F961 AS DateTime), N'12345', 2)
INSERT [dbo].[Users] ([UserID], [Username], [Email], [PasswordHash], [IsActive], [CreatedAt], [RawPassword], [DepartmentId]) VALUES (8, N'akbar', N'hussain.ali.ned@gmail.com', N'$2b$10$VnYr/3xY7Ly8C3Lj3KgmgOE61ocL9SBd7usi2P/y6nqcrCcZaPsLy', 0, CAST(0x0000B40400F03330 AS DateTime), N'12345', 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  StoredProcedure [dbo].[sp_Product_Update]    Script Date: 04/01/2026 17:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[sp_Product_Update]


  (         
            @Id int,
            @ProductName nvarchar(200)
           ,@ProductCode nvarchar(50)
           ,@CategoryID int
           ,@FormID int
           ,@ColorID int
           ,@CountryOfOrigin  nvarchar(100)
           ,@Ingredients  nvarchar(max)
           ,@IngredientsDeclaration  nvarchar(max)
           ,@SuitableFor  nvarchar(200)
           ,@Additives  nvarchar(200)
           ,@Functionalities  nvarchar(200)
           ,@Description  nvarchar(max)
           ,@ShelfLife nvarchar(200)
           ,@StorageConditions nvarchar(max)
           ,@Uses nvarchar(max)
           ,@IsActive  bit
           )
 
 as 
 Begin
 update [dbo].[Products]
 
 set 
           [ProductName] =@ProductName
           ,[ProductCode]=@ProductCode
           ,[CategoryID]=@CategoryID
           ,[FormID]=@FormID
           ,[ColorID]=@ColorID
           ,[CountryOfOrigin]=@CountryOfOrigin
           ,[Ingredients]=@Ingredients
           ,[IngredientsDeclaration]=@IngredientsDeclaration
           ,[SuitableFor]=@SuitableFor
           ,[Additives]=@Additives
           ,[Functionalities]=@Functionalities
           ,[Description]=@Description
           ,[ShelfLife]=@ShelfLife
           ,[StorageConditions]=@StorageConditions
           ,[Uses]=@Uses
           ,[IsActive]=@IsActive
           
           where Id=@Id
     


           end
GO
/****** Object:  StoredProcedure [dbo].[sp_Product_Insert]    Script Date: 04/01/2026 17:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Product_Insert]


  (         @ProductName nvarchar(200)
           ,@ProductCode nvarchar(50)
           ,@CategoryID int
           ,@FormID int
           ,@ColorID int
           ,@CountryOfOrigin  nvarchar(100)
           ,@Ingredients  nvarchar(max)
           ,@IngredientsDeclaration  nvarchar(max)
           ,@SuitableFor  nvarchar(200)
           ,@Additives  nvarchar(200)
           ,@Functionalities  nvarchar(200)
           ,@Description  nvarchar(max)
           ,@ShelfLife nvarchar(200)
           ,@StorageConditions nvarchar(max)
           ,@Uses nvarchar(max)
           ,@IsActive  bit
           )
 
 as 
 Begin
  INSERT INTO [dbo].[Products]
           ([ProductName]
           ,[ProductCode]
           ,[CategoryID]
           ,[FormID]
           ,[ColorID]
           ,[CountryOfOrigin]
           ,[Ingredients]
           ,[IngredientsDeclaration]
           ,[SuitableFor]
           ,[Additives]
           ,[Functionalities]
           ,[Description]
           ,[ShelfLife]
           ,[StorageConditions]
           ,[Uses]
           ,[IsActive])
     VALUES
           (@ProductName
           ,@ProductCode
           ,@CategoryID
           ,@FormID
           ,@ColorID
           ,@CountryOfOrigin
           ,@Ingredients
           ,@IngredientsDeclaration
           ,@SuitableFor
           ,@Additives
           ,@Functionalities
           ,@Description
           ,@ShelfLife
           ,@StorageConditions
           ,@Uses
           ,@IsActive)

           SELECT SCOPE_IDENTITY() AS Id


           end
GO
/****** Object:  StoredProcedure [dbo].[sp_Product_Delete]    Script Date: 04/01/2026 17:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Product_Delete]
    @Id INT
AS


BEGIN
    IF NOT EXISTS (SELECT * FROM Products  WHERE Id =@Id )
BEGIN
    Select 'Product not founds'
END
ELSE
   BEGIN
   
   
   
DECLARE @count INT = 0;
DECLARE @msg NVARCHAR(MAX) = '';

-- COUNT TOTAL RECORDS
SELECT @count =
    (SELECT COUNT(*) FROM Certifications WHERE ProductId = @Id) +
    (SELECT COUNT(*) FROM Packaging WHERE ProductId = @Id) +
    (SELECT COUNT(*) FROM ProductAnalysis WHERE ProductId = @Id);

-- BUILD MESSAGE
IF EXISTS (SELECT 1 FROM Certifications WHERE ProductId = @Id)
    SET @msg = @msg + 'Certifications, ';

IF EXISTS (SELECT 1 FROM Packaging WHERE ProductId = @Id)
    SET @msg = @msg + 'Packaging, ';

IF EXISTS (SELECT 1 FROM ProductAnalysis WHERE ProductId = @Id)
    SET @msg = @msg + 'ProductAnalysis, ';

-- REMOVE LAST COMMA
IF LEN(@msg) > 0
    SET @msg = LEFT(@msg, LEN(@msg) - 2); -- remove ", "


   if(@count >0)
   begin
   select 'Delete records from : ' + @msg
   end
   
   else
   begin
     
	  DELETE FROM Products WHERE Id = @Id
	  Select 'Product has been deleted' 
	  
	  end

   END
END


--exec sp_Product_Delete 19
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateUser]    Script Date: 04/01/2026 17:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateUser]
   
 (
 @UserID int,
 @username nvarchar(50),
 @email nvarchar(50),
 @passwordhash nvarchar(225),
 @rawpassword nvarchar(50),
 @role_id int,
 @departmentId int,
 @site_Ids nvarchar(50),
 @isActive bit

)
AS

BEGIN
    IF NOT EXISTS (SELECT * FROM [Users]  WHERE  UserID=@UserID )
BEGIN
    Select 'User does not exists'
END
ELSE
   BEGIN
      
	  
	  update [Users]  set  username=@username  ,email=@email ,PasswordHash= @passwordhash,
	                       RawPassword=RawPassword, isActive=@isActive  ,DepartmentId=@departmentId
	                       where  UserID=@UserID  
	                       
	                       
	                        
delete from [UserSiteAccess] where [UserID]=@UserID

 insert into [UserSiteAccess]([UserID],[SiteID],[IsActive])
 
 --select @UserID,(select SiteID  from [Sites] where SiteCode= [Param] ), 1 from dbo.fun_splitstring(@site_Ids)
 
 
select @UserID,SiteID,1 from (
select [Param] from  dbo.fun_splitstring(@site_Ids) ) as tb
inner join [Sites] on LTRIM(RTRIM([Param]))=LTRIM(RTRIM(SiteID))


delete from [UserRoles] where [UserID]=@UserID

insert into [UserRoles]([UserID],[RoleID])

select  @UserID ,@role_id
 
	  Select 'New user has been created'

   END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterUser]    Script Date: 04/01/2026 17:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegisterUser]
   
 (
 @username nvarchar(50),
 @email nvarchar(50),
 @passwordhash nvarchar(225),
 @rawpassword nvarchar(50),
 @role_id int,
 @departmentId int,
 @site_Ids nvarchar(50),
 @isActive bit

)
AS

BEGIN
    IF EXISTS (SELECT * FROM [Users]  WHERE email =@email  )
BEGIN
    Select 'Email Exists'
END
ELSE
   BEGIN
      insert into [Users](username,email,PasswordHash,RawPassword,isActive,DepartmentId  ) 
	  values(@username,@email,@passwordhash,@rawpassword,@isActive,@departmentId )

-- Capture first identity
DECLARE @UserID int = SCOPE_IDENTITY();

 insert into [UserSiteAccess]([UserID],[SiteID],[IsActive])
 
 --select @UserID,(select SiteID  from [Sites] where SiteCode= [Param] ), 1 from dbo.fun_splitstring(@site_Ids)
 
 
select @UserID,SiteID,1 from (
select [Param] from  dbo.fun_splitstring(@site_Ids) ) as tb
inner join [Sites] on LTRIM(RTRIM([Param]))=LTRIM(RTRIM(SiteID))



insert into [UserRoles]([UserID],[RoleID])

select  @UserID ,@role_id
 


	  Select 'New user has been created'

   END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ProductAnalysis_Update]    Script Date: 04/01/2026 17:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[sp_ProductAnalysis_Update]
    @Id INT,
    @ProductId INT,
    @CategoryId int,
    @ParameterName  NVARCHAR(200),
    @Unit NVARCHAR(50),
    @Limits NVARCHAR(50),
    @Status NVARCHAR(50),
    @IsActive BIT
AS
BEGIN
    UPDATE ProductAnalysis
    SET 
        ProductId = @ProductId,
        CategoryId = @CategoryId,
        ParameterName=@ParameterName,
        Unit=@Unit,
        Limits=@Limits,
        [Status]=@Status,
        IsActive = @IsActive
    WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ProductAnalysis_Insert]    Script Date: 04/01/2026 17:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[sp_ProductAnalysis_Insert]
    @ProductId INT,
    @CategoryId int,
    @ParameterName  NVARCHAR(200),
    @Unit NVARCHAR(50),
    @Limits NVARCHAR(50),
    @Status NVARCHAR(50),
    @IsActive BIT
AS
BEGIN
    INSERT INTO ProductAnalysis (ProductId, CategoryId,ParameterName,Unit ,Limits,[Status] , IsActive)
    VALUES (@ProductId, @CategoryId,@ParameterName,@Unit,@Limits,@Status , @IsActive)

    SELECT SCOPE_IDENTITY() AS Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ProductAnalysis_GetAllByProductId]    Script Date: 04/01/2026 17:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ProductAnalysis_GetAllByProductId]
(@ProductId int)
AS
BEGIN
SELECT ProductAnalysis.Id
      ,[ProductId]
      ,[CategoryId],
       CategoryName
      ,[ParameterName]
      ,[Unit]
      ,[Limits]
      ,[Status]
      ,ProductAnalysis.IsActive
  FROM ProductAnalysis  inner join AnalysisCategories
  on ProductAnalysis.CategoryId=AnalysisCategories.Id
  where ProductId=@ProductId
  
  end
  
  -- exec  sp_ProductAnalysis_GetAllByProductId 1
GO
/****** Object:  StoredProcedure [dbo].[sp_ProductAnalysis_Delete]    Script Date: 04/01/2026 17:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[sp_ProductAnalysis_Delete]
    @Id INT
AS
BEGIN
    DELETE FROM ProductAnalysis WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LoginUser]    Script Date: 04/01/2026 17:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LoginUser]
    @Email NVARCHAR(100),
    @SiteID NVARCHAR(10)
AS
BEGIN
    SELECT U.UserID, U.Username, U.Email, U.PasswordHash, R.RoleName ,UR.RoleId ,UA.SiteID , U.DepartmentId
    FROM Users U
    JOIN UserRoles UR ON U.UserID = UR.UserId
    JOIN Roles R ON UR.RoleId = R.RoleID
    inner join UserSiteAccess UA on  UA.UserId=U.UserID
    WHERE U.Email =@Email AND U.IsActive = 1  and UA.SiteID=@SiteID
    and UA.IsActive = 1 
END;



--exec [sp_LoginUser] 'muhammad.ali@matcofoods.com.pk' ,1
GO
/****** Object:  StoredProcedure [dbo].[deleteUser]    Script Date: 04/01/2026 17:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[deleteUser]
(@UserID int)
AS

BEGIN
    IF NOT EXISTS (SELECT * FROM [Users]  WHERE UserID =@UserID )
BEGIN
    Select 'User not founds'
END
ELSE
   BEGIN
     
	 delete from  [Users] where UserID=@UserID
	 delete  from [UserRoles]  where UserID=@UserID
	 delete  from [UserSiteAccess] where UserID=@UserID

	  Select 'User has been deleted' 

   END
END
GO
/****** Object:  Default [DF_Colors_IsActive]    Script Date: 04/01/2026 17:16:43 ******/
ALTER TABLE [dbo].[Colors] ADD  CONSTRAINT [DF_Colors_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
/****** Object:  Default [DF_Categories_IsActve]    Script Date: 04/01/2026 17:16:43 ******/
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_IsActve]  DEFAULT ((1)) FOR [IsActve]
GO
/****** Object:  Default [DF_AnalysisCategories_IsActive]    Script Date: 04/01/2026 17:16:43 ******/
ALTER TABLE [dbo].[AnalysisCategories] ADD  CONSTRAINT [DF_AnalysisCategories_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
/****** Object:  Default [DF_Packaging_IsActive]    Script Date: 04/01/2026 17:16:43 ******/
ALTER TABLE [dbo].[Packaging] ADD  CONSTRAINT [DF_Packaging_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
/****** Object:  Default [DF__MenuItems__IsAct__276EDEB3]    Script Date: 04/01/2026 17:16:43 ******/
ALTER TABLE [dbo].[MenuItems] ADD  DEFAULT ((1)) FOR [IsActive]
GO
/****** Object:  Default [DF__MenuItems__Creat__286302EC]    Script Date: 04/01/2026 17:16:43 ******/
ALTER TABLE [dbo].[MenuItems] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
/****** Object:  Default [DF_Forms_IsActive]    Script Date: 04/01/2026 17:16:44 ******/
ALTER TABLE [dbo].[Forms] ADD  CONSTRAINT [DF_Forms_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
/****** Object:  Default [DF__Departmen__IsAct__151B244E]    Script Date: 04/01/2026 17:16:44 ******/
ALTER TABLE [dbo].[Departments] ADD  DEFAULT ((1)) FOR [IsActive]
GO
/****** Object:  Default [DF__Departmen__Creat__160F4887]    Script Date: 04/01/2026 17:16:44 ******/
ALTER TABLE [dbo].[Departments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
/****** Object:  Default [DF__Sites__IsActive__2B3F6F97]    Script Date: 04/01/2026 17:16:44 ******/
ALTER TABLE [dbo].[Sites] ADD  DEFAULT ((1)) FOR [IsActive]
GO
/****** Object:  Default [DF__Sites__CreatedDa__2C3393D0]    Script Date: 04/01/2026 17:16:44 ******/
ALTER TABLE [dbo].[Sites] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
/****** Object:  Default [DF__Roles__IsActive__29572725]    Script Date: 04/01/2026 17:16:44 ******/
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((1)) FOR [IsActive]
GO
/****** Object:  Default [DF__Roles__CreatedDa__2A4B4B5E]    Script Date: 04/01/2026 17:16:44 ******/
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
/****** Object:  Default [DF__Products__Create__48CFD27E]    Script Date: 04/01/2026 17:16:44 ******/
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
/****** Object:  Default [DF_Products_IsActive]    Script Date: 04/01/2026 17:16:44 ******/
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
/****** Object:  Default [DF__UserSiteA__IsAct__2F10007B]    Script Date: 04/01/2026 17:16:45 ******/
ALTER TABLE [dbo].[UserSiteAccess] ADD  DEFAULT ((1)) FOR [IsActive]
GO
/****** Object:  Default [DF__UserSiteA__Grant__300424B4]    Script Date: 04/01/2026 17:16:45 ******/
ALTER TABLE [dbo].[UserSiteAccess] ADD  DEFAULT (getdate()) FOR [GrantedDate]
GO
/****** Object:  Default [DF__Users__IsActive__2D27B809]    Script Date: 04/01/2026 17:16:45 ******/
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
/****** Object:  Default [DF__Users__CreatedAt__2E1BDC42]    Script Date: 04/01/2026 17:16:45 ******/
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
/****** Object:  ForeignKey [FK__ProductAn__Categ__74AE54BC]    Script Date: 04/01/2026 17:16:44 ******/
ALTER TABLE [dbo].[ProductAnalysis]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[AnalysisCategories] ([Id])
GO
/****** Object:  ForeignKey [FK_UserSiteAccess_Site]    Script Date: 04/01/2026 17:16:45 ******/
ALTER TABLE [dbo].[UserSiteAccess]  WITH CHECK ADD  CONSTRAINT [FK_UserSiteAccess_Site] FOREIGN KEY([SiteID])
REFERENCES [dbo].[Sites] ([SiteID])
GO
ALTER TABLE [dbo].[UserSiteAccess] CHECK CONSTRAINT [FK_UserSiteAccess_Site]
GO
/****** Object:  ForeignKey [FK_Users_Departments]    Script Date: 04/01/2026 17:16:45 ******/
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Departments] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([DepartmentId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Departments]
GO
