USE [master]
GO
/****** Object:  Database [TQMS]    Script Date: 3/9/2026 10:33:00 PM ******/
CREATE DATABASE [TQMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TQMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER2016\MSSQL\DATA\TQMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TQMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER2016\MSSQL\DATA\TQMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TQMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TQMS]
GO
USE [TQMS]
GO
/****** Object:  UserDefinedFunction [dbo].[fun_splitstring]    Script Date: 3/9/2026 10:33:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[fun_splitstring] ( @stringToSplit VARCHAR(8000) )
    RETURNS
        @returnList TABLE ([Param] [nvarchar] (500))
AS
 
BEGIN
 
    DECLARE @name NVARCHAR(255)
    DECLARE @pos INT
 
    WHILE CHARINDEX(',', @stringToSplit) > 0
    BEGIN
        SELECT @pos  = CHARINDEX(',', @stringToSplit) 
        SELECT @name = SUBSTRING(@stringToSplit, 1, @pos-1)
 
        INSERT INTO @returnList
        SELECT @name
 
        SELECT @stringToSplit = SUBSTRING(@stringToSplit, @pos+1, LEN(@stringToSplit)-@pos)
    END
 
    INSERT INTO @returnList
    SELECT @stringToSplit
 
    RETURN
END


--SELECT [Param] FROM dbo.splitstring('a,b,c')
GO
/****** Object:  Table [dbo].[MenuItems]    Script Date: 3/9/2026 10:33:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuItems](
	[MenuID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[Route] [nvarchar](100) NULL,
	[RoleID] [int] NULL,
	[ParentID] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MenuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 3/9/2026 10:33:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sites]    Script Date: 3/9/2026 10:33:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sites](
	[SiteID] [int] IDENTITY(1,1) NOT NULL,
	[SiteName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SiteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 3/9/2026 10:33:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/9/2026 10:33:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[RawPassword] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSiteAccess]    Script Date: 3/9/2026 10:33:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSiteAccess](
	[AccessID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[SiteID] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[GrantedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AccessID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MenuItems] ON 

INSERT [dbo].[MenuItems] ([MenuID], [Title], [Route], [RoleID], [ParentID], [IsActive], [CreatedDate]) VALUES (1, N'Dashboard', N'/dashboard', 1, NULL, 1, CAST(N'2026-03-04T12:43:35.520' AS DateTime))
INSERT [dbo].[MenuItems] ([MenuID], [Title], [Route], [RoleID], [ParentID], [IsActive], [CreatedDate]) VALUES (2, N'Users', N'/dashboard/users', 1, NULL, 1, CAST(N'2026-03-04T12:43:35.520' AS DateTime))
INSERT [dbo].[MenuItems] ([MenuID], [Title], [Route], [RoleID], [ParentID], [IsActive], [CreatedDate]) VALUES (3, N'Profile', N'/dashboard/profile', 2, NULL, 1, CAST(N'2026-03-04T12:43:35.520' AS DateTime))
SET IDENTITY_INSERT [dbo].[MenuItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName], [IsActive], [CreatedDate]) VALUES (1, N'Admin', 1, CAST(N'2026-03-04T12:43:13.620' AS DateTime))
INSERT [dbo].[Roles] ([RoleID], [RoleName], [IsActive], [CreatedDate]) VALUES (2, N'User', 1, CAST(N'2026-03-04T12:43:13.620' AS DateTime))
INSERT [dbo].[Roles] ([RoleID], [RoleName], [IsActive], [CreatedDate]) VALUES (3, N'Manager', 1, CAST(N'2026-03-04T12:43:13.620' AS DateTime))
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Sites] ON 

INSERT [dbo].[Sites] ([SiteID], [SiteName], [Description], [IsActive], [CreatedDate]) VALUES (1, N'RGD', N'Rice Glucose Division (RGD)', 1, CAST(N'2026-03-04T12:41:47.087' AS DateTime))
INSERT [dbo].[Sites] ([SiteID], [SiteName], [Description], [IsActive], [CreatedDate]) VALUES (2, N'MRP', N'Matco Foods Ltd.', 0, CAST(N'2026-03-04T12:41:47.087' AS DateTime))
INSERT [dbo].[Sites] ([SiteID], [SiteName], [Description], [IsActive], [CreatedDate]) VALUES (3, N'MCS', N'Matco Corn Starch', 0, CAST(N'2026-03-04T12:41:47.087' AS DateTime))
SET IDENTITY_INSERT [dbo].[Sites] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([ID], [UserID], [RoleID]) VALUES (1, 4, 1)
INSERT [dbo].[UserRoles] ([ID], [UserID], [RoleID]) VALUES (2, 5, 6)
INSERT [dbo].[UserRoles] ([ID], [UserID], [RoleID]) VALUES (3, 6, 6)
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Email], [PasswordHash], [IsActive], [CreatedAt], [RawPassword]) VALUES (4, N'Muhammad Ali Hussain', N'muhammad.ali@matcofoods.com.pk', N'$2b$10$w5BHpD7T7LSvbLrj26ShBO6kqN0nkoD54SOKWARSuXWTkT0Z9SE0W', 1, CAST(N'2026-03-05T11:06:11.310' AS DateTime), N'12345')
INSERT [dbo].[Users] ([UserID], [Username], [Email], [PasswordHash], [IsActive], [CreatedAt], [RawPassword]) VALUES (8, N'akbar', N'hussain.ali.ned@gmail.com', N'$2b$10$ugySJHaIvOzz.NtfuYAq7.nAObVHD5P7ImSUKRyMLc2tUTC0CJlrC', 0, CAST(N'2026-03-05T14:34:32.480' AS DateTime), N'12345')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[UserSiteAccess] ON 

INSERT [dbo].[UserSiteAccess] ([AccessID], [UserID], [SiteID], [IsActive], [GrantedDate]) VALUES (6, 4, 1, 1, CAST(N'2026-03-05T11:06:11.313' AS DateTime))
INSERT [dbo].[UserSiteAccess] ([AccessID], [UserID], [SiteID], [IsActive], [GrantedDate]) VALUES (7, 4, 2, 1, CAST(N'2026-03-05T11:06:11.313' AS DateTime))
INSERT [dbo].[UserSiteAccess] ([AccessID], [UserID], [SiteID], [IsActive], [GrantedDate]) VALUES (8, 4, 3, 1, CAST(N'2026-03-05T11:06:11.313' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserSiteAccess] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B6160BEE8D846]    Script Date: 3/9/2026 10:33:01 PM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E48C1321AB]    Script Date: 3/9/2026 10:33:01 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105347D673C88]    Script Date: 3/9/2026 10:33:01 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ_UserSite]    Script Date: 3/9/2026 10:33:01 PM ******/
ALTER TABLE [dbo].[UserSiteAccess] ADD  CONSTRAINT [UQ_UserSite] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[SiteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MenuItems] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MenuItems] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Sites] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Sites] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserSiteAccess] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserSiteAccess] ADD  DEFAULT (getdate()) FOR [GrantedDate]
GO
ALTER TABLE [dbo].[UserSiteAccess]  WITH CHECK ADD  CONSTRAINT [FK_UserSiteAccess_Site] FOREIGN KEY([SiteID])
REFERENCES [dbo].[Sites] ([SiteID])
GO
ALTER TABLE [dbo].[UserSiteAccess] CHECK CONSTRAINT [FK_UserSiteAccess_Site]
GO
/****** Object:  StoredProcedure [dbo].[deleteUser]    Script Date: 3/9/2026 10:33:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[deleteUser]
(@UserID int)
AS

BEGIN
    IF NOT EXISTS (SELECT * FROM [Users]  WHERE UserID =@UserID )
BEGIN
    Select 'User not founds'
END
ELSE
   BEGIN
     
	 delete from  [Users] where UserID=@UserID
	 delete  from [UserRoles]  where UserID=@UserID
	 delete  from [UserSiteAccess] where UserID=@UserID

	  Select 'User has been deleted' 

   END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllRoles]    Script Date: 3/9/2026 10:33:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_GetAllRoles]
AS
BEGIN
	select [RoleID] as Id
         ,[RoleName]
  FROM [Roles]
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllSites]    Script Date: 3/9/2026 10:33:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllSites]
AS
BEGIN
	SELECT [SiteID] as Id,
          [SiteName]
         ,[Description]
  FROM [Sites]
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMenusByRole]    Script Date: 3/9/2026 10:33:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetMenusByRole]
    @RoleID NVARCHAR(50)
AS
BEGIN
     SELECT M.Title, M.Route ,ParentID
    FROM MenuItems M
    JOIN Roles R ON M.RoleId = R.RoleID
    WHERE R.RoleID = @RoleID  and  M.IsActive=1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LoginUser]    Script Date: 3/9/2026 10:33:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LoginUser]
    @Email NVARCHAR(100)
AS
BEGIN
    SELECT U.UserID, U.Username, U.Email, U.PasswordHash, R.RoleName ,UR.RoleId
    FROM Users U
    JOIN UserRoles UR ON U.UserID = UR.UserId
    JOIN Roles R ON UR.RoleId = R.RoleID
    WHERE U.Email =@Email AND U.IsActive = 1
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterUser]    Script Date: 3/9/2026 10:33:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegisterUser]
   
 (
 @username nvarchar(50),
 @email nvarchar(50),
 @passwordhash nvarchar(225),
 @rawpassword nvarchar(50),
 @role_id int,
 @site_Ids nvarchar(50),
 @isActive bit

)
AS

BEGIN
    IF EXISTS (SELECT * FROM [Users]  WHERE email =@email  )
BEGIN
    Select 'Email Exists'
END
ELSE
   BEGIN
      insert into [Users](username,email,PasswordHash,RawPassword,isActive) 
	  values(@username,@email,@passwordhash,@rawpassword,@isActive)

-- Capture first identity
DECLARE @UserID int = SCOPE_IDENTITY();

 insert into [UserSiteAccess]([UserID],[SiteID],[IsActive])
 
 --select @UserID,(select SiteID  from [Sites] where SiteCode= [Param] ), 1 from dbo.fun_splitstring(@site_Ids)
 
 
select @UserID,SiteID,1 from (
select [Param] from  dbo.fun_splitstring(@site_Ids) ) as tb
inner join [Sites] on LTRIM(RTRIM([Param]))=LTRIM(RTRIM(SiteID))



insert into [UserRoles]([UserID],[RoleID])

select  @UserID ,@role_id
 


	  Select 'New user has been created'

   END
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_UserPagination]    Script Date: 3/9/2026 10:33:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_UserPagination]
    @page        INT,
    @size        INT,
    @search      NVARCHAR(MAX) = '',
    @orderBy     NVARCHAR(MAX) = 'UserID',
    @orderDir    NVARCHAR(MAX) = 'DESC'
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @skip INT = (@size * @page) - @size;
    DECLARE @sql NVARCHAR(MAX);
    DECLARE @whereClause NVARCHAR(MAX) = '';
    
    
    -- Build WHERE clause if search is provided
    IF LTRIM(RTRIM(@search)) <> ''
    BEGIN
        SET @whereClause = N'WHERE LOWER(username) LIKE ''%'' + LOWER(@search) + ''%''
                           OR LOWER(email) LIKE ''%'' + LOWER(@search) + ''%''';
    END
    
    -- Build complete query using ROW_NUMBER
    SET @sql = N'
    WITH PaginatedUsers AS (
        SELECT 
            U.*,  
            R.RoleID,
            R.RoleName,

           (
    SELECT STUFF((
        SELECT '', '' + S.SiteName
        FROM Sites S
        INNER JOIN UserSiteAccess USA
            ON USA.SiteID = S.SiteID
        WHERE USA.UserID = U.UserID
        FOR XML PATH(''''), TYPE
    ).value(''.'', ''NVARCHAR(MAX)''),1,2,'''')
) AS SiteNames,

 (
    SELECT STUFF((
        SELECT '', '' + CAST(S.SiteID AS VARCHAR(10))
        FROM Sites S
        INNER JOIN UserSiteAccess USA
            ON USA.SiteID = S.SiteID
        WHERE USA.UserID = U.UserID
        FOR XML PATH(''''), TYPE
    ).value(''.'', ''NVARCHAR(MAX)''),1,2,'''')
) AS SiteIDs,

            ROW_NUMBER() OVER 
            (ORDER BY U.' + QUOTENAME(@orderBy) + ' ' + @orderDir + ') AS RowNum

        FROM dbo.Users U
        INNER JOIN UserRoles UR ON U.UserID = UR.UserID
        INNER JOIN Roles R ON UR.RoleID = R.RoleID
        ' + @whereClause + '
    )

    SELECT * 
    FROM PaginatedUsers
    WHERE RowNum BETWEEN ' + CAST(@skip + 1 AS NVARCHAR(20)) + ' 
    AND ' + CAST(@skip + @size AS NVARCHAR(20)) + ';

    SELECT 
        (SELECT COUNT(*) FROM dbo.Users U ' + @whereClause + ') AS Filtered,
        (SELECT COUNT(*) FROM dbo.Users) AS Total;';
    -- Execute the query
    EXEC sp_executesql @sql, N'@search NVARCHAR(MAX)', @search;
END


--EXEC [usp_UserPagination] @page = 1, @size = 5
--EXEC [usp_UserPagination] @page = 1, @size = 1, @search = 'a'
--EXEC [usp_UserPagination] @page = 1, @size = 5, @search = 'a', @orderBy = 'username', @orderDir = 'ASC'
--EXEC [usp_UserPagination] @page = 1, @size = 5, @search = '', @orderBy = 'username', @orderDir = 'ASC'
GO
USE [master]
GO
